{# {% block title %}
	SpringConcert
{% endblock %} #}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/artistes.css') }}">
{% endblock %}

{% block body %}
	<header>
		<nav>
			<div class="nav-pics">
				<img src="img/LOGOS/spring-concert.png" alt="SpringConcert">
				<p>X</p>
				<img src="img/LOGOS/DEATHLESS-RECORDS.png" alt="DeathlessRecords" id="dt-img">
			</div>
			<div class="nav_link">
				<a href="{{ path('main') }}">ACCUEIL</a>
				<a href="#" id="underline">ARTISTES</a>
				<a href="{{ path('shop') }}">BILLETERIE</a>
				<a href="{{ path('infos') }}">INFOS PRATIQUES</a>
			</div>
		</nav>
	</header>

	<div class="menu-ham">
		<input type="checkbox" class="check" id="menu-toggle">
		<label for="menu-toggle" class="ham-menu">
			<span class="line line1"></span>
			<span class="line line2"></span>
			<span class="line line3"></span>
		</label>
		<ul class="menu-items">
			<li>
				<a href="{{ path('main') }}">Accueil</a>
			</li>
			<li>
				<a href="#">Artistes</a>
			</li>
			<li>
				<a href="{{ path('shop') }}">Billeterie</a>
			</li>
			<li>
				<a href="{{ path('infos') }}">Infos pratiques</a>
			</li>
		</ul>
	</div>

	<h1>Artistes</h1>

	<div class="mise-en-page">
		<div class="trio">
			<div class="bloc-mise-en-page">
				<a href="#">
					<div class="conteneura">
						<img class="imgcontenu" src="img/AFFICHES/v1.1-affiche-siire.png">
						<div class="overlay"></div>
						<div class="txtcontenu">
							<h3>Artistes : SIIRÉ</h3>
							<br>
							Description :
							<br>
							Capturer les émotions et les transmettre pour les rendre universelles. C'est ainsi...
							<div class="btn">
								<a href="#" target="_blank">
									<button type="button">Plus d'informations</button>
								</a>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bloc-mise-en-page">
				<a href="#">
					<div class="conteneurb">
						<img class="imgcontenu" src="img/AFFICHES/vf-affiche-seven-zeno.png">
						<div class="overlay"></div>
						<div class="txtcontenu">
							<h3>Artistes : SEVEN ZUNO</h3>
							<br>
							Description :
							<br>
							Seven Zeno est un de nos jeune rappeur Dijonnais prometteur...
							<div class="btn">
								<a href="#" target="_blank">
									<button type="button">Plus d'informations</button>
								</a>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bloc-mise-en-page">
				<a href="#">
					<div class="conteneurc">
						<img class="imgcontenu" src="img/AFFICHES/affiche-r1luv.png">
						<div class="overlay"></div>
						<div class="txtcontenu">
							<h3>Artistes : R1LUV</h3>
							<br>
							Description :
							<br>
							Rlluv, c'est un voyage à travers la haine et l'amour. C'est dans l'ombre...
							<div class="btn">
								<a href="#" target="_blank">
									<button type="button">Plus d'informations</button>
								</a>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="duo">
			<div class="bloc-mise-en-page">
				<a href="#">
					<div class="conteneurd">
						<img class="imgcontenu" src="img/AFFICHES/v2.1-affiche-iliana.png">
						<div class="overlay"></div>
						<div class="txtcontenu">
							<h3>Artistes : ILIANA</h3>
							<br>
							Description :
							<br>
							liana est la nouvelle tête a suivre du RNB alternatif...
							<div class="btn">
								<a href="#" target="_blank">
									<button type="button">Plus d'informations</button>
								</a>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="bloc-mise-en-page">
				<a href="#">
					<div class="conteneure">
						<img class="imgcontenu" src="img/AFFICHES/v1.2-affiche-akuro.png">
						<div class="overlay"></div>
						<div class="txtcontenu">
							<h3>Artistes : AKURO</h3>
							<br>
							Description :
							<br>
							Dj de Paris, malgré son aspect mystérieux...
							<div class="btn">
								<a href="#" target="_blank">
									<button type="button">Plus d'informations</button>
								</a>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="down-arrow-container">
		<div class="down-arrow">
			<img src="img/white-down-arrow.png" alt="downarrow">
		</div>
	</div>
	<div class="text">
		<h2>Réservez vos places dès maintenant !</h2>
	</div>
	<div class="shop-btn-container">
		<a href="{{ path('shop') }}" target="_blank">
			<button type=" button">ACHETER</button>
		</a>
	</div>
{% endblock %}
{% block footer %}
	{% include 'footer.html.twig' %}
{% endblock %}
