{% extends 'base.html.twig' %}

{% block title %}SpringConcert
{% endblock %}

{% block body %}

	<header>
		<nav>
			<div class="nav-pics">
				<img src="img/LOGOS/spring-concert.png" alt="SpringConcert">
				<p>X</p>
				<img src="img/LOGOS/DEATHLESS-RECORDS.png" alt="DeathlessRecords" id="dt-img">
			</div>
			<div class="nav_link">
				<a href="#" id="underline">ACCUEIL</a>
				<a href="{{ path('artistes') }}">ARTISTES</a>
				<a href="{{ path('shop') }}">BILLETERIE</a>
				<a href="#">INFOS PRATIQUES</a>
			</div>
		</nav>
	</header>

	<div class="menu-ham">
		<input type="checkbox" class="check" id="menu-toggle">
		<label for="menu-toggle" class="ham-menu">
			<span class="line line1"></span>
			<span class="line line2"></span>
			<span class="line line3"></span>
		</label>
		<ul class="menu-items">
			<li>
				<a href="#">Accueil</a>
			</li>
			<li>
				<a href="{{ path('artistes') }}">Artistes</a>
			</li>
			<li>
				<a href="{{ path('shop') }}">Billeterie</a>
			</li>
			<li>
				<a href="#">Infos pratiques</a>
			</li>
		</ul>
	</div>


	<h1>
		<span>Bistrot de la Scène</span>
		<br>
		27 Avril 2024
	</h1>

	<div class="container">
		<div class="countdown-background">
			<div id="countdown" class="countdown"></div>
		</div>
	</div>

	<div class="texte">
		<p id="long-text">Le "Spring Concert", un événement phare en soutien aux artistes dijonnais, revient pour sa deuxième
			<br>
			édition le 27 avril 2024 au Bistrot de la scène à Dijon. Organisé par Lorys Ledoux, également connu
			<br>
			sous le nom de Syrol, le directeur du label associatif indépendant Deathless Record, cet événement
			<br>
			promet une soirée inoubliable mettant en vedette certains des talents les plus prometteurs de la scène
			<br>
			locale.</p>
		<button id="show-more-btn">En savoir plus</button>
	</div>

	<div class="carousel-container">
		<div class="image-container">
			<div class="image-wrapper">
				<div>
					<img src="img/AFFICHES/affiche-r1luv.png" alt="r1luv">
				</div>
				<div>
					<img src="img/AFFICHES/vf-affiche-seven-zeno.png" alt="sevenzuno">
				</div>
				<div>
					<img src="img/AFFICHES/v1.1-affiche-siire.png" alt="siire">
				</div>
				<div>
					<img src="img/AFFICHES/v1.2-affiche-akuro.png" alt="akuro">
				</div>
				<div>
					<img src="img/AFFICHES/v2.1-affiche-iliana.png" alt="iliana">
				</div>
			</div>
		</div>
	</div>

	<div class="down-arrow-container">
		<div class="down-arrow">
			<img src="img/white-down-arrow.png" alt="down-arrow">
		</div>
	</div>


	<div class="text">
		<h2>Réservez vos places dès maintenant !</h2>
	</div>

	<div class="shop-btn-container">
		<a href="{{ path('shop') }}" target="_blank">
			<button type=" button">ACHETER</button>
		</a>
	</div>
{% endblock %}
