{# {% block title %}SpringConcert
{% endblock %} #}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('css/billeterie.css') }}">
{% endblock %}

{% block body %}

	<header>
		<nav>
			<div class="nav-pics">
				<img src="img/LOGOS/spring-concert.png" alt="SpringConcert">
				<p>X</p>
				<img src="img/LOGOS/DEATHLESS-RECORDS.png" alt="DeathlessRecords" id="dt-img">
			</div>
			<div class="nav_link">
				<a href="{{ path('main') }}">ACCUEIL</a>
				<a href="{{ path('artistes') }}">ARTISTES</a>
				<a href="#" id="underline">BILLETERIE</a>
				<a href="{{ path('infos') }}">INFOS PRATIQUES</a>
			</div>
		</nav>
	</header>

	<div class="menu-ham">
		<input type="checkbox" class="check" id="menu-toggle">
		<label for="menu-toggle" class="ham-menu">
			<span class="line line1"></span>
			<span class="line line2"></span>
			<span class="line line3"></span>
		</label>
		<ul class="menu-items">
			<li>
				<a href="{{ path('main') }}">Accueil</a>
			</li>
			<li>
				<a href="{{ path('artistes') }}">Artistes</a>
			</li>
			<li>
				<a href="#">Billeterie</a>
			</li>
			<li>
				<a href="{{ path('infos') }}">Infos pratiques</a>
			</li>
		</ul>
	</div>

	<h1>Billeterie</h1>


	<div class="shopping">
		<iframe id="haWidget" allowtransparency="true" scrolling="none" src="https://www.helloasso.com/associations/deathless-record/evenements/spring-concert-1/widget" style="width:100%; height: 1050px; border: none;"></iframe>
	</div>

{% endblock %}
{% block footer %}
	{% include 'footer.html.twig' %}
{% endblock %}
